Button{
    margin-bottom: 10;
    border-radius: 50;
    border-width: 5;
    background-color: royalblue;
    color: white;
    font-size: 20px;
}
Button:active{
    background-color: salmon;
}
.creditButton{
    background-color: white;
    font-size: 12px;
    border: none;
    width: 15%;
    color: blue;
    text-decoration: underline;
}