<ActionBar>
    <ActionItem android.position="right" (tap)="deleteWord()">
        <label text="🗑" ></label>
    </ActionItem>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="back()"></NavigationButton>
</ActionBar>
<StackLayout>
    <label text="Edit Word"></label>
    <TextField #wordLabel [hint]="word.word"></TextField>
    <TextField #definition [hint]="word.defi"></TextField>
    <button text="Save" (tap)="edit(wordLabel.text, definition.text); word.text=''; definition.text=''"></button>
</StackLayout>