button{
    margin-bottom: 10;
    border-radius: 50;
    border-width: 5;
    color: royalblue;
    font-size: 20px;
}
button:active{
    margin-bottom: 10;
    border-radius: 50;
    border-width: 5;
    color: salmon;
}
label{
    color: navy;
    font-size: 27px;
}
TextField{
    font-size: 20px;
}
