<ActionBar>
    <ActionItem android.position="right" icon="✏️" (tap)="goEdit()">
        <label text="✏️" ></label>
    </ActionItem>
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="back()"></NavigationButton>
</ActionBar>
<ScrollView>
    <StackLayout>
        <Label  [text]="labelWord"></Label>
        <Label  [text]="labelDefinition"></Label>
        <Label [text] = "yourWord"></Label>
        <button (tap)="triggerListening()" text="🎤"></button>
        <button (tap)="test_tts()" text="🔊" ></button>
        <Button text="📸" (tap)="capture()" class="btn btn-primary"></Button>
        <Image [src]="picture" width="300" height="300"></Image>
    </StackLayout>
</ScrollView>