<ActionBar> 
    <ActionItem android.position="left" (tap)="back()">
        <label text="↩" class="backButton"></label>
    </ActionItem>
</ActionBar>
<StackLayout>
    <label [text]="time"></label>
    <label [text]="labelWord"></label>
    <label [text]="labelDefinition"></label>
    <label [text]="yourWord"></label>
    <button text="🔈" (tap)="test_tts()"></button> 
    <button (tap)="triggerListening()" text="🎙"></button>
    <button text="Next" (tap)="nextButton()" *ngIf="isShow === true"></button>
</StackLayout>