button{
    margin-bottom: 10;
    border-radius: 50;
    border-width: 5;
    background-color: whitesmoke;
    font-size: 20px;
}
button:active{
    background-color: salmon;
}
label{
    font-size: 20px;
    text-align: center;
}
