<ActionBar> 
    <ActionItem android.position="left" (tap)="back()">
        <label text="↩" class="backButton"></label>
    </ActionItem>
</ActionBar>
<StackLayout>
    <label text="📝 Create by 📝" class="underline"></label>
    <label text="ภาคภูมิ พูลปั้น"></label>
    <label text="กันตินันท์ ศิรินทราเวช"></label>
    <label text="สถาพร พิลา"></label>
    <label text="👨🏾‍💻 Software Development Practice II 👨🏾‍💻"></label>
    <label text="🎓 KMUTNB 🎓"></label>
    <label text="🎤 🎧 🎤 🎧 🎤 🎧 🎤 🎧 🎤"></label>
</StackLayout>